<h1>Matrix</h1>
<div id="matrix">
  <% @allowed_dimensions.each do |d| %>
      <%= link_to("#{d}x#{d}", {:dimension => d}) %>
  <% end %>

  <%= form_tag :controller => :matrices, :action => :index do %>
      <% (0...@dimension).each do |i| %>
          <p>
          <% (0...@dimension).each do |j| %>
              <%= text_field_tag :"matrix[#{i}][#{j}]", (@matrix ? @matrix[i,j] : 0) %>
          <% end %>
          </p>
      <% end %>
      <%= submit_tag "Preview" %>
  <% end %>

  <%= tex_image(tex_for_matrix(@matrix)) if @matrix %>
  <%= tex_image(tex_for_matrix(@matrix, 'v')) if @matrix %>

</div>
