%h1 EigenRails
%h2 Calculate Eigenvalues of 2x2 matrices
#matrix-container
  #matrix
    = form_tag :controller => :matrices, :action => :index do |f|
      - (0...@dimension).each do |i|
        %p
          - (0...@dimension).each do |j|
            = text_field_tag :"matrix[#{i}][#{j}]", (@matrix ? @matrix[i,j] : 0), :class => 'matrix-value'
      = submit_tag "Calculate", :class => 'submit'

    = render 'matrix' if @matrix
