!!! 5
%html
  %head
    %title Eigenrails
    = stylesheet_link_tag "http://yui.yahooapis.com/2.8.2r1/build/reset/reset-min.css"
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    #container
      = yield
